<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Generador de contraseña</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body>
    {% include 'generador/partials/_narvar.HTML' %}

    <div class="container p-5">
      <!-- Aquí va estar un bloque de codigo, o una parte de HTML. Además, el resto del dcoumento HTML seguirá siendo el mismo-->
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
